<header>
  <a routerLink="/"><img src="assets/logo-fondoazul.png" alt="Logo"></a>
</header>
<section>
  <div class="container-login">
    <div class="block">
      <div class="block-body">
        <h1>Asistente de recuperación de contraseña</h1>
        <p>{{instructions}}</p>
        <ngb-alert *ngIf="showAlert" [dismissible]="false" [type]="alertType">
          {{alertMessage}}
        </ngb-alert>
        <form *ngIf="pAction==undefined && !(showAlert==true && alertType=='success')" [formGroup]="email_form"
              (ngSubmit)="emailResetPassword()">
          <div class="form-group">
            <label for="username">Correo electrónico:</label>
            <input type="text" id="username" formControlName="username" class="form-control" required autofocus
                   [ngClass]="{ 'is-invalid': submitted && ef.username.errors }" [(ngModel)]="authUser.username"/>
          </div>
          <button class="submit btn btn-primary">Continuar</button>
        </form>

        <form *ngIf="pAction==='reset' && !(showAlert==true && alertType=='success')" [formGroup]="password_form" (ngSubmit)="resetPassword()">
          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" formControlName="password" class="form-control" required
                   [ngClass]="{ 'is-invalid': submitted && pf.password.errors }" [(ngModel)]="authUser.password"/>
          </div>
          <div class="form-group">
            <label for="password_check">Reingrese ontraseña:</label>
            <input type="password" id="password_check" formControlName="password_check" class="form-control" required
                   [ngClass]="{ 'is-invalid': submitted && pf.password.errors }" [(ngModel)]="password_check"/>
          </div>
          <button class="submit btn btn-primary">Continuar</button>
        </form>

        <div class="vs-divider">
          <h5>¿Recordó su contraseña?</h5>
        </div>
        <button class="btn btn-secondary" routerLink="/login">Inicia Sesión</button>
      </div>
    </div>
  </div>
</section>
<footer>
  <p>traux&reg; 2019</p>
</footer>


