<section>
  <div class="container">
    <div class="row">
      <div class="col col-sm-12 col-md-7">
        <app-form-contact-us></app-form-contact-us>
      </div>
      <div class="col col-sm-12 col-md-5">
        <h1>¿Cómo podemos ayudarle?</h1>
        <p>Para cualquier duda o comentario por favor llene el formulario y estaremos en contacto con usted rápidamente</p>
        <div class="block" id="otros-contactos">
          <div class="block-header">
            <h1>Otros contáctos</h1>
          </div>
          <div class="block-body">
            <p><a href="mailto:soporte@trauxerp.com"><span><i class="fa fa-envelope"></i></span>soporte@trauxerp.com</a></p>
            <p><a href="phone:+573122902068"><i class="fa fa-phone"></i>+57 (312) 290-2068</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
