div {
  background-image: url('../../../../assets/img/banner-consult.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12em 0 5em 0;
  text-align: center;
  color: var(--color-dark-font);
}
h1 {
  font-size: 2em;
  margin-bottom: 1em;
}
.btn-outline-primary {
  color: var(--color-dark-font);
  border-color: var(--color-dark-font);
}
.btn-outline-primary:hover, .btn-outline-primary:active {
  color: var(--color-dark);
  background-color: var(--color-dark-font);
}
