div {
  background-color: var(--color-dark);
  color: var(--color-dark-font);
}
.container {
  padding: 3em 1em 1em 1em;
  text-align: center;
}
.bottom {
  height: 3em;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
h1 {
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  border-right: 4px solid white;
  width: 16ch;
  animation: type 3s steps(16);
  margin: 0 auto 1em auto ;
}

@keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 16ch;
  }
}

@media (min-width: 768px) {
  p {
    margin: 0 30%;
  }
}
